In [ ]:
import pandas as pd
import numpy as np

In [ ]:
strategy='Long'
algorithm='xgb'

if algorithm == 'xgb':
 dataset=pd.read_csv(f'result/xgb_{strategy}-MLResult.csv')
 selected_cols=['acc_mean','learning_rate','n_estimators']
 list_group=['learning_rate','n_estimators']
elif algorithm == 'lgb':
 dataset=pd.read_csv(f'result/lgb_{strategy}-MLResult.csv')
 selected_cols=['acc_mean','learning_rate','n_estimators','num_leaves']
 list_group=['learning_rate','n_estimators','num_leaves']
dataset.info()

In [ ]:
dataset.isnull().sum()

In [282]:


ml_df=dataset[selected_cols]
ml_df.head(5)

   acc_mean  learning_rate  n_estimators  num_leaves
0  0.652632          0.001          40.0        31.0
1  0.652632          0.001          40.0        50.0
2  0.652632          0.001          40.0       100.0
3  0.652632          0.001          40.0       150.0
4  0.652632          0.001          40.0       200.0

In [283]:
ml_df.describe()

          acc_mean  learning_rate  n_estimators   num_leaves
count  1680.000000    1680.000000   1680.000000  1680.000000
mean      0.784139       0.238000    130.000000   130.166667
std       0.064495       0.351859     57.462731    78.339806
min       0.642361       0.001000     40.000000    31.000000
25%       0.785560       0.005000     80.000000    50.000000
50%       0.810528       0.050000    130.000000   125.000000
75%       0.825330       0.500000    180.000000   200.000000
max       0.849707       1.000000    220.000000   250.000000

In [284]:
datasets=None
dfx=ml_df.groupby(list_group,as_index=False).agg({'acc_mean':['mean','median','max','min','std']})
dfx.columns = ["_".join(x) for x in dfx.columns.ravel()]

In [285]:
ntop=10
topx=dfx.sort_values(by=['acc_mean_median','acc_mean_mean'], ascending=False).head(ntop)
topx.reset_index(drop=True)
topx.to_csv(f'{algorithm}_{strategy}_top{ntop}.csv',index=False)

In [286]:
topx.head(ntop)

,learning_rate_,n_estimators_,num_leaves_,acc_mean_mean,acc_mean_median,acc_mean_max,acc_mean_min,acc_mean_std
156,0.010,160.0,31.0,0.838243,0.840179,0.844552,0.828060,0.007927
174,0.010,220.0,31.0,0.837306,0.839749,0.844284,0.825442,0.008488
168,0.010,200.0,31.0,0.837404,0.839112,0.844834,0.826557,0.008112
150,0.010,140.0,31.0,0.837301,0.838347,0.844791,0.827719,0.007746
192,0.050,80.0,31.0,0.836101,0.838071,0.846214,0.822048,0.010131
144,0.010,120.0,31.0,0.836788,0.837447,0.846524,0.825736,0.008998
102,0.005,180.0,31.0,0.837016,0.837130,0.848256,0.825550,0.010102
186,0.050,60.0,31.0,0.835974,0.836974,0.846862,0.823086,0.009841
126,0.010,60.0,31.0,0.833983,0.836891,0.839805,0.822343,0.008229
90,0.005,140.0,31.0,0.835914,0.836884,0.843904,0.825984,0.007690

In [287]:
topx['learning_rate_'].value_counts()

0.010    6
0.050    2
0.005    2
Name: learning_rate_, dtype: int64

In [288]:
topx['n_estimators_'].value_counts()

60.0     2
140.0    2
180.0    1
120.0    1
80.0     1
200.0    1
220.0    1
160.0    1
Name: n_estimators_, dtype: int64