In [46]:
import pandas as pd
import numpy as np
import math

In [47]:
df_PtgDay=pd.read_csv("ExploreFinRBS-PTG-Day.csv",index_col='Date/Time',parse_dates =['Date/Time'],dayfirst=True)
df_PtgDay=df_PtgDay.drop( columns='Ticker',inplace=False)

df_PtgDay.shape[0]

119

In [48]:
df_PtgDay.tail(5)

,open,high,low,close,atr_red,dc_gray_hh,med_gray_hh,dc_gray_ll,med_gray_ll,dc_brown_hh,dc_brown_ll
Date/Time,,,,,,,,,,,
2019-05-27,13.8,14.0,13.6,13.9,12.58,14.1,11.00,9.75,9.2,14.1,10.4
2019-05-28,13.9,14.3,13.9,14.3,12.97,14.1,11.00,9.75,9.2,14.1,10.4
2019-05-29,14.3,15.2,14.2,15.2,13.83,14.3,11.05,9.75,9.2,14.3,10.4
2019-05-30,15.3,16.1,15.0,16.1,14.69,15.2,11.15,9.75,9.2,15.2,10.4
2019-05-31,16.0,16.7,15.9,16.7,15.28,16.1,11.20,9.75,9.2,16.1,10.4

In [49]:
df_PtgDay_SLine=df_PtgDay[df_PtgDay['close']>df_PtgDay['atr_red']]
df_PtgDay_Group_SLine=df_PtgDay_SLint.groupby(['atr_red'])[['atr_red']].count()
df_PtgDay_Group_SLine.index

Float64Index([ 7.91,  8.03,  8.32,  8.55,  8.66,  8.96,  8.97,  8.98,   9.3,
               9.31,  9.45,  9.76,  9.88, 10.46, 10.66, 11.22, 11.31, 12.33,
              12.58, 12.97, 13.83, 14.69, 15.28],
             dtype='float64', name='atr_red')

In [51]:
df_PtgDay_Group_SLine.rename(columns={"atr_red":'support_atr_red'},inplace=True)
df_PtgDay_Group_SLine.sort_values(by ='support_atr_red',inplace=True,ascending=False )
df_PtgDay_Group_SLine.head(5)

         support_atr_red
atr_red
8.32                  30
9.31                  24
8.98                  23
9.76                   9
12.33                  5

In [52]:
thirdbest_support=df_PtgDay_Group_SLine.iloc[:3]
thirdbest_support

         support_atr_red
atr_red
8.32                  30
9.31                  24
8.98                  23