In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import datetime

%config IPCompleter.greedy=True 
%matplotlib inline

In [22]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

#  MergeTrainFile_TRend&OHLC to AUX1

In [35]:
ab_train_file='datasets\TFday\DataTrain2007-2015\AB_2007To2015_Trend_Train-S50Day.csv'
#ab_train_file='datasets\TFday\DataTrain2014-2019\AB_2014To2019_Trend_Train-S50Day.csv'

In [36]:
train_filename='datasets\TFday\DataTrain2007-2015\ML_S50IF_CON-2007-2015_TrainData.csv'
ohlc_filename='datasets\TFday\DataTrain2007-2015\OHLC_S50IF_CON_2007-2015.csv'

In [37]:
df_trend=pd.read_csv(train_filename,index_col='datetime',parse_dates =['datetime'],dayfirst=True)
df_ohlc=pd.read_csv(ohlc_filename,index_col='datetime',parse_dates =['datetime'],dayfirst=True)
print(df_trend.shape)
print(df_ohlc.shape)

(2199, 18)
(2199, 4)

In [38]:
'''
action_filename='datasets\Data_S50F_15M_2014Now\ML-Action_S50F-15M_2014Now-TrainData.csv'
df_action=pd.read_csv(action_filename,index_col='datetime',parse_dates =['datetime'],dayfirst=True)

print(df_action.shape)
'''

"\naction_filename='datasets\\Data_S50F_15M_2014Now\\ML-Action_S50F-15M_2014Now-TrainData.csv'\ndf_action=pd.read_csv(action_filename,index_col='datetime',parse_dates =['datetime'],dayfirst=True)\n\nprint(df_action.shape)\n"

In [39]:
df1=df_ohlc[['open','high','low','close']]
df2=df_trend[['TrendLabel']]

In [40]:
dfx=df1.merge(df2,how='inner',on='datetime')
print(dfx.shape)
dfx.head()

(2199, 5)

                      open   high    low  close  TrendLabel
datetime
2007-01-03 09:45:00  460.0  464.5  453.5  458.9           2
2007-01-04 09:45:00  458.0  459.5  450.0  450.0           2
2007-01-05 09:45:00  448.0  448.0  435.3  438.5           2
2007-01-08 09:45:00  435.7  445.4  434.9  443.2           2
2007-01-09 09:45:00  439.9  443.0  425.5  427.5           2

In [41]:
dfx.to_csv(ab_train_file)