In [11]:
import numpy as np
import pandas as pd

from matplotlib import pyplot

In [12]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [13]:
dfTrend=pd.read_csv('FindTrend-DataSet\TestLookBar.csv',index_col='Date/Time',parse_dates =['Date/Time'],dayfirst=True)
dfTrend

            countPerMA_2Level
Date/Time
2019-01-01                  0
2019-01-02                  1
2019-01-03                  2
2019-01-04                  3
2019-01-05                  4
2019-01-06                  5
2019-01-07                  6
2019-01-08                  6
2019-01-09                  0
2019-01-10                  1
2019-01-11                  2
2019-01-12                  3
2019-01-13                  4
2019-01-14                  5
2019-01-15                  6
2019-01-16                  6
2019-01-17                  0
2019-01-18                  1
2019-01-19                  1
2019-01-20                  0
2019-01-21                  1
2019-01-22                  1
2019-01-23                  0
2019-01-24                  1
2019-01-25                  2
2019-01-26                  3
2019-01-27                  4
2019-01-28                  5
2019-01-29                  7
2019-01-30                  8
2019-01-31                  8
2019-02-01                  0
2019-02-02                  1
2019-02-03                  2
2019-02-04                  3
2019-02-05                  4

# last day before change condition true agian

In [ ]:
# last day before change condition true agian
dfTrend[dfTrend['countPerMA_2Level'].shift(-1)==0 ]

# the first day after that condtion is false

In [8]:
#try the first day after that condtion is false
dfTrend[ (dfTrend['countPerMA_2Level'].shift(-1)== dfTrend['countPerMA_2Level'])  & (dfTrend['countPerMA_2Level'].shift(1)!= dfTrend['countPerMA_2Level'])]

            countPerMA_2Level
Date/Time
2019-01-07                  6
2019-01-15                  6
2019-01-18                  1
2019-01-21                  1
2019-01-30                  8

# Demo find maxBar in rally trend

In [9]:
df2019_trendByMA=pd.read_csv('FindTrend-DataSet\TrendByMA550_Avg100_2019_tf15m.csv',index_col='Date/Time',parse_dates =['Date/Time'],dayfirst=True)

df2019_trendByMA.dropna(inplace=True)
df2019_trendByMA.drop(columns='Ticker',inplace=True)

In [10]:
display('df2019_trendByMA.head()','df2019_trendByMA.tail()')

,TrendMA550,TrendAvg100,trendLevel550,countPerMA,datePerMA
Date/Time,,,,,
2019-01-02 09:45:00,1076.47,0.0,1,250,13/12/2018 15:00:00
2019-01-02 10:00:00,1076.41,0.0,1,251,13/12/2018 15:00:00
2019-01-02 10:15:00,1076.35,0.0,1,252,13/12/2018 15:00:00
2019-01-02 10:30:00,1076.29,0.0,1,253,13/12/2018 15:00:00
2019-01-02 10:45:00,1076.23,0.0,1,254,13/12/2018 15:00:00
,TrendMA550,TrendAvg100,trendLevel550,countPerMA,datePerMA
Date/Time,,,,,
2020-01-13 16:00:00,1063.71,0.40,2,9,13/1/2020 12:00:00
2020-01-13 16:15:00,1063.74,0.41,2,10,13/1/2020 12:00:00
2020-01-13 16:30:00,1063.78,0.43,2,11,13/1/2020 12:00:00
2020-01-13 16:45:00,1063.82,0.43,2,12,13/1/2020 12:00:00
2020-01-13 17:00:00,1063.86,0.44,2,13,13/1/2020 12:00:00

In [26]:
dfCount_EndBarIncrease=df2019_trendByMA[ (df2019_trendByMA['countPerMA'].shift(-1)== df2019_trendByMA['countPerMA'])  & (df2019_trendByMA['countPerMA'].shift(1)!= df2019_trendByMA['countPerMA'])]
dfCount_EndBarIncrease

,TrendMA550,TrendAvg100,trendLevel550,countPerMA,datePerMA
Date/Time,,,,,
2019-01-24 12:15:00,1055.26,0.30,1,612,13/12/2018 15:00:00
2019-01-28 11:15:00,1056.73,0.69,2,38,24/1/2019 14:30:00
2019-03-07 09:45:00,1092.46,0.70,3,592,28/1/2019 11:45:00
2019-03-08 16:00:00,1091.82,0.31,2,38,7/3/2019 10:15:00
2019-04-10 10:15:00,1084.92,0.30,1,476,8/3/2019 16:30:00
2019-04-11 16:30:00,1086.36,0.69,2,38,10/4/2019 10:45:00
2019-05-14 11:45:00,1102.35,0.70,3,413,11/4/2019 17:00:00
2019-05-16 10:30:00,1101.98,0.31,2,39,14/5/2019 12:15:00
2019-06-14 16:00:00,1087.05,0.30,1,437,16/5/2019 11:00:00
2019-06-18 14:45:00,1087.90,0.69,2,38,14/6/2019 16:30:00
2019-07-25 14:45:00,1144.77,0.70,3,597,18/6/2019 15:15:00
2019-07-30 12:00:00,1143.55,0.31,2,38,25/7/2019 15:15:00
2019-09-11 11:00:00,1081.16,0.30,1,655,30/7/2019 14:15:00
2019-09-13 10:00:00,1082.14,0.69,2,38,11/9/2019 11:30:00
2019-10-04 11:00:00,1091.75,0.70,3,330,13/9/2019 10:30:00
2019-10-08 10:00:00,1090.31,0.31,2,38,4/10/2019 11:30:00
2019-11-06 11:45:00,1075.78,0.30,1,429,8/10/2019 10:30:00
2019-11-08 10:30:00,1077.09,0.69,2,38,6/11/2019 12:15:00
2019-11-20 16:45:00,1083.25,0.70,3,192,8/11/2019 11:00:00
2019-11-22 15:30:00,1082.35,0.31,2,38,21/11/2019 9:45:00
2019-11-28 16:15:00,1082.55,0.30,1,90,22/11/2019 16:00:00
2019-12-02 15:30:00,1082.49,0.31,2,39,28/11/2019 16:45:00
2020-01-13 11:30:00,1063.41,0.30,1,562,2/12/2019 16:00:00

In [27]:
dfCount_EndBarIncrease.groupby(['trendLevel550'],)[['countPerMA']].agg(['median','mean','max','min'])

              countPerMA
                  median        mean  max  min
trendLevel550
1                    476  465.857143  655   90
2                     38   38.181818   39   38
3                    413  424.800000  597  192

In [30]:
dfCount_EndBarIncrease.query('countPerMA==597 and trendLevel550==3')

,TrendMA550,TrendAvg100,trendLevel550,countPerMA,datePerMA
Date/Time,,,,,
2019-07-25 14:45:00,1144.77,0.7,3,597,18/6/2019 15:15:00

In [31]:
dfCount_EndBarIncrease.query('countPerMA==655 and trendLevel550==1')

,TrendMA550,TrendAvg100,trendLevel550,countPerMA,datePerMA
Date/Time,,,,,
2019-09-11 11:00:00,1081.16,0.3,1,655,30/7/2019 14:15:00

# Demo count MACD220 and 550 maxBar

In [32]:
df_macd=pd.read_csv('FindTrend-DataSet\MACD200_550_Above0_15m.csv',index_col='Date/Time',parse_dates =['Date/Time'],dayfirst=True)

df_macd.dropna(inplace=True)
df_macd.drop(columns='Ticker',inplace=True)
df_macd.head()

                     MACD200_550Above0
Date/Time
2019-11-01 09:45:00                240
2019-11-01 10:00:00                240
2019-11-01 10:15:00                240
2019-11-01 10:30:00                240
2019-11-01 10:45:00                240

In [33]:
dfCount_macd=df_macd[ (df_macd['MACD200_550Above0'].shift(-1)== df_macd['MACD200_550Above0'])  & (df_macd['MACD200_550Above0'].shift(1)!= df_macd['MACD200_550Above0'])]
dfCount_macd

                     MACD200_550Above0
Date/Time
2019-11-01 09:45:00                240
2019-11-21 11:15:00                247
2019-11-28 15:00:00                 25
2019-12-30 16:30:00                  4